.header-main {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

.headline {
  padding-bottom: 20px;
}
.cosmo-text {
  padding: 20px;
}
.biology,
.machines,
.evolution {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: space-evenly;
}
.machines {
  background-color: yellow;
}
.evolution {
  padding-bottom: 50px;
}

.h-line {
  width: 50%;
}
.bio-text {
  display: flex;
  flex-direction: column;
}

.text-bio {
  padding: 20px;
  width: 350px;
}
.hero-pic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/joel-filipe-QwoNAhbmLLo-unsplash.jpg");
}
